<div>
  <select (change)="changemodule($event)">
    <option value="customer">Customer</option>
    <option value="suppliers">Supplier</option>
    <option value="user">User</option>
  </select>
  <!-- If  -->
  @if (modulename == "customer") {
    <h2>Customer page</h2>
    <!-- For -->
    @for (
      item of customerlist();
      track item.id;
      let inx=$index,count=$count,first=$first,last=$last,even=$even
    ) {
      <h3>Count: {{ count }}</h3>
      <h3>first: {{ first }}</h3>
      <h3>last: {{ last }}</h3>
      <h3>even: {{ even }}</h3>
      <li>{{ inx }} - {{ item.name }}</li>
    }
    <!-- Else If -->
  } @else if (modulename == "suppliers") {
    <h2>Supplier page</h2>
    @for (supplier of supplierlist(); track supplier) {
      <!-- Empty -->
    } @empty {
      <p>No data</p>
    }
    <!-- Else -->
  } @else {
    <h2>User page</h2>
    @for (user of userlist(); track user.id) {
      <!-- Switch -->
      @switch (user.country) {
        <!-- Case -->
        @case ("Sri Lanka") {
          Sri Lanka is best country
        }
        @case ("India") {
          India is good
        }
        <!-- Default -->
        @default {
          Default
        }
      }
    }
  }
</div>
